{% extends 'layout.html' %}
{% load static%}

{%load humanize %}
{% block content %}

<div class="bg-light p-5 mb-4 rounded-3">
<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Merhaba!</h1>
    <p class="col-md-8 fs-4">bir jumbotron benzeri alandır.</p>
  </div>
</div>


    <div class="row">
        <div class="col-md-12">

            {% if movies %}
                {%for movie in movies %}
                    <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{%static movie.get_image_path %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">{{movie.name}}</div>
                            <p class="card-text">
                                {{movie.description}}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">{{movie.created_date | timesince}}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    <p>
                        No Movies
                    </p>
                </div>
            {% endif %}

            
            
        </div>
    </div>
{% endblock %}