{% extends 'layout.html' %}
{% load static%}

{% block content %}

<div class="bg-light p-5 mb-4 rounded-3">
<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Merhaba!</h1>
    <p class="col-md-8 fs-4">bir jumbotron benzeri alandır.</p>
  </div>
</div>


    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{%static 'img/1.jpeg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">High life</div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ipsum!
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{%static 'img/2.jpeg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">High life</div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ipsum!
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{%static 'img/3.jpeg'%}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title">High life</div>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ipsum!
                            </p>
                            <p class="card-text">
                                <small class="text-muted">3 days ago
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}